grant codeBase "file:./target/cloudatlas-1.0-SNAPSHOT-jar-with-dependencies.jar" {
    permission java.security.AllPermission;
};

// During development
grant codeBase "file:./target/classes" {
    permission java.security.AllPermission;
};
